<div class="mt">
    <div class="mt-[4rem]">
      <app-main-carousel />
    </div>
    <div class="about-us">
      <img class="right-image" src="/assets/img/logo.png" alt="Image Description">
      <div class="content">
      <h1 class="ourproducts">The Flavorsmith</h1>
      <p style="text-align:center ;">Welcome to Flavorsmith, the culinary alchemists dedicated to transforming the essence of food. Our mission is
        to explore the fundamental principles of food, innovating new ways to enhance flavors while preserving the core
        integrity of the ingredients.
      Our website is a gastronomic journey, showcasing our diverse brands that cater to every palate. But more
      importantly, it’s a journey, it’s a quest to learn, discover, and live!.  Our website design reflects our philosophy - classy, clean, and clutter-free. The soothing shades of green,
      complemented by golden fonts, create a serene browsing experience. Our brand logo, a mandala, symbolizes our
      holistic approach to food, understanding that the universe is ever-changing and ever-evolving. Our online retail store is designed for a seamless shopping experience, reminiscent of the clean aesthetics of
      a European cafe. Welcome to Flavorsmith, where we craft flavors that tell a story. Explore and embark on a culinary adventure
      like no other.</p>
  
  
  </div>
  
 
    </div>
    <div>
  
    
  
    </div>
    <section>
  <br> <br>
  
      <h1  class="ourproducts"> Shop</h1>
      <div class="image-container">
        <a  href="/product-details/5"  style="width:35% ;">
          <img class="img1" src="/assets/img/4ECCD100-1712-42AE-8DF1-9D8CD4F6726E.jpg" alt="Image 1">
        </a>
        <a  href="/product-details/8" style="width:38% ;">
          <img class="img2" src="/assets/img/12A8DCB2-F5D5-4CCB-B87A-BCD40FD3C868.jpg" alt="Image 2">
        </a>
        <a   href="/product-details/87" style="width:38% ;">
          <img class="img3" src="/assets/img/62C652E4-77CC-4CBD-9217-B0E6D90BD81E.jpg" alt="Image 3">
        </a>
        <a  href="/product-details/89" style="width:30% ;">
          <img src="/assets/img/A7273C65-1FB4-4955-A183-8E6754AA2E97.jpg" alt="Image 3">
        </a>
      </div>
      
      <br> <br> <br> <br>

    </section>
  

  
  </div>

