.full-width {
  width: 100vw;
}
.snackBar{
color: rgb(36, 74, 25);
}
.nav{
background-color: hsl(153, 48%, 16%);
position: fixed;
top: 0;
z-index: 50;
left: 0;
right: 0;
color: #ffc400;
}
.open-button1{
color: #ffc400;
}

  